{% extends "base.html" %}

{% block content %}
<div class="private container top-margin-50">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
        <div class="box box-primary">
            {% if form.errors %}
            <div class="alert alert-warning alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                <p>Your username and password didn't match. Please try again.</p>
            </div>
            {% endif %}

            {% if next %}
            <div class="alert alert-warning alert-dismissible">
                {% if user.is_authenticated %}
                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                <p>Please login to see this page.</p>
                {% endif %}
            </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}

                <div class="box-header with-border">
                    <h3 class="box-title">Login</h3>
                </div>

                <div class="form-group top-margin-20 {% if form.password.has_error %} has-error{% endif %}">
                    <label>{{ form.username.label_tag }}</label>
                    <input autofocus="" id="id_username" maxlength="254" name="username" type="text" required="" class="form-control" value="{% if form.username.value %}{{ form.username.value }}{% endif %}">
                </div>
                
                <div class="form-group {% if form.password.has_error %} has-error{% endif %}">
                    <label>{{ form.password.label_tag }}</label>
                    <input id="id_password" name="password" type="password" required="" class="form-control" value="">
                </div>

                <input class="btn btn-primary bottom-margin-20" type="submit" value="login" />
                <input type="hidden" name="next" value="{{ next }}" />

                {# Assumes you setup the password_reset view in your URLconf #}
                <p class="pull-right"><a href="{% url 'password_reset' %}">Lost password?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
