{% load static from staticfiles %}

<!DOCTYPE html>
<!--
Leaders in high-performance referral management! Come work for us!
https://www.treatspace.com/company/careers
-->

{% spaceless %}
<html lang="en">
    <head>
        <title>{% block title %}Treatspace MRR Access{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="robots" content="noindex" />

        
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="{% static "/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "/dist/css/AdminLTE.min.css" %}">
	    <link rel="stylesheet" href="{% static "/dist/css/skins/_all-skins.min.css" %}">
	    <link rel="stylesheet" href="{% static "/dist/css/flat-ui-pro.css" %}">
        <link rel="stylesheet" href="{% static "/custom/css/style.css" %}">
        <!-- Script -->
    </head>

    <body class="skin-blue fixed" data-spy="scroll" data-target="#scrollspy">
    	
		{% block content %}
  		{% endblock %}

        <!-- jQuery 2.2.3 -->
	    <script src="{% static "/plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
	    <!-- Bootstrap 3.3.6 -->
	    <script src="{% static "/bootstrap/js/bootstrap.min.js" %}"></script>
	    <!-- FastClick -->
	    <script src="{% static "/plugins/fastclick/fastclick.min.js" %}"></script>
	    <!-- AdminLTE App -->
	    <script src="{% static "/dist/js/app.min.js" %}"></script>
	    <!-- SlimScroll 1.3.0 -->
	    <script src="{% static "/plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>

	    {% block js %}
	    {% endblock %}
    </body>
</html>
{% endspaceless %}